* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
}

/* Header */

header {
  margin: 0 auto;
  background-color: red;
  width: 1487px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.nav {
  text-align: right;
  display: inline-block;
  width: 1200px;
}

.nav a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22.59px;
  margin: 20px;
  text-decoration: none;
  color: #7d7987;
}

/* Header Text */

.header-text {
  background-color: green;
  margin: 0 auto;
  width: 1487px;
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  width: 445px;
}

.header-title h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 2rem;
}

.header-title p {
  color: #7d7987;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 2rem;
}

.header-title button {
  width: 200px;
  height: 60px;
  border-radius: 55px;
  background-color: #458ff6;
  border: none;
  color: white;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  width: 693px;
}

/* Services */

.container {
  background-color: yellow;
  width: 1487px;
  margin: 0 auto;
  text-align: center;
}

.container h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
}

.container p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.our-services {
  width: 952px;
  display: inline-block;
}

.box {
  display: inline-block;
  text-align: left;
  width: 350px; /*amis gamo horizontaluri sqroli uchndeba*/
  border-radius: 20px;
  background-color: white;
  padding: 3rem;
  margin: 1.5rem;
}

.btn-2 {
  font-weight: 700;
  width: 200px;
  height: 60px;
  border-radius: 55px;
  border: 2px solid #458ff6;
  color: #458ff6;
  cursor: pointer;
}

/* providers */

.providers {
  background-color: orange;
  margin: 0 auto;
  width: 1487px;
}

.providers-img {
  vertical-align: middle;
  display: inline-block;
  width: 650px;
}

.providers-title {
  display: inline-block;
  width: 486px;
}

.providers-title h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 1rem;
}

.providers-title p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  margin-bottom: 1rem;
}
